/Lab-3/.vscode/settings.json
/Lab-3/ProductManager/.settings/org.eclipse.jdt.apt.core.prefs
/Lab-3/ProductManager/target/classes/net/codejava/MyUserDetails.class
/Lab-3/ProductManager/target/classes/net/codejava/Role.class
/Lab-3/ProductManager/target/classes/net/codejava/User.class
/Lab-3/ProductManager/target/classes/net/codejava/UserRepository.class
/Lab-4/.idea/.gitignore
/Lab-4/.idea/Lab-4.iml
/Lab-4/.idea/misc.xml
/Lab-4/.idea/modules.xml
/Lab-4/.idea/vcs.xml
/Lab-4/sso-keycloak-tutorial/.idea/vcs.xml
/Lab-4/sso-keycloak-tutorial/.idea/workspace.xml
/Lab-4/report.docx
/Lab-4/~$report.docx
